*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background:rgb(148, 0, 0);
    font-family: poppins, Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 900px) {
    body{
        overflow-x:hidden;
    }
    main {
        display: flex;
        flex-direction: column;
    }

    main>span {
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 8px;
    }

    header > h1 {
        padding: 0.8em;
    }
}

h1 {
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 10px rgb(49, 49, 49);
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1em;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    margin: 10px 10px 0px 10px;
    background-color: #d3d3d3;
    border-radius: 0.8em;
    padding: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.699) 0px 5px 15px;

}


img {
    width: 250px;
    border-radius: 0.6em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.euquero{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: red;
    border: none;
    border-radius: 0.3em;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 50%;
    transform: translate(-50%);
    text-decoration: none;
}

.euquero {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(252, 117, 140);
    --btn-bg-2: rgb(255, 31, 31);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.4em 0.6em;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 11, 11, 0.5), 0px 5px 5px -1px rgba(151, 42, 42, 0.25), inset 4px 4px 8px rgba(150, 10, 28, 0.5), inset -4px -4px 8px rgba(216, 19, 35, 0.35);
}

.euquero:hover {
    background-position: right top;
}



header > h1 {
    padding: 0.8em;
}
