#container{
    border: 1px solid red;
}

#placar{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}

#mensagens{
    border: 1px solid green;
    text-align: center;
}

#left-side{
    background: red;
}

#versus{
    background: #fff;
    background: blue;
    flex-grow: 0.5;
}

#right-side{
    background-color: green;
}

#left-side, #right-side{
    flex-grow: 1;
    height: 200px;
}